/**
 * @license
 * MyFonts Webfont Build ID 2858652, 2014-08-06T16:05:46-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Pilcrow Soft Bold by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/bold/
 * 
 * Webfont: Pilcrow Soft SemiBold by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/semibold/
 * 
 * Webfont: Pilcrow Soft Medium by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/medium/
 * 
 * Webfont: Pilcrow Soft by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/regular/
 * 
 * Webfont: Pilcrow Soft Heavy by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2858652
 * Licensed pageviews: 10,000
 * ../fonts copyright: Copyright (c) 2013 by Indian Type Foundry. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b9e9c");

  
@font-face {font-family: 'PilcrowSoft-Bold';src: url('../fonts/2B9E9C_0_0.eot');src: url('../fonts/2B9E9C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_0_0.woff') format('woff'),url('../fonts/2B9E9C_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Semibold';src: url('../fonts/2B9E9C_1_0.eot');src: url('../fonts/2B9E9C_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_1_0.woff') format('woff'),url('../fonts/2B9E9C_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Medium';src: url('../fonts/2B9E9C_2_0.eot');src: url('../fonts/2B9E9C_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_2_0.woff') format('woff'),url('../fonts/2B9E9C_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft';src: url('../fonts/2B9E9C_3_0.eot');src: url('../fonts/2B9E9C_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_3_0.woff') format('woff'),url('../fonts/2B9E9C_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Heavy';src: url('../fonts/2B9E9C_4_0.eot');src: url('../fonts/2B9E9C_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_4_0.woff') format('woff'),url('../fonts/2B9E9C_4_0.ttf') format('truetype');}
 
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.row {
  margin-bottom: 20px;
}
/* Nested Column Classes */
.column.alpha,
.columns.alpha {
  margin-left: 0;
}
.column.omega,
.columns.omega {
  margin-right: 0;
}
/* Base Grid */
.container .one.column,
.container .one.columns {
  width: 40px;
}
.container .two.columns {
  width: 100px;
}
.container .three.columns {
  width: 160px;
}
.container .four.columns {
  width: 220px;
}
.container .five.columns {
  width: 280px;
}
.container .six.columns {
  width: 340px;
}
.container .seven.columns {
  width: 400px;
}
.container .eight.columns {
  width: 460px;
}
.container .nine.columns {
  width: 520px;
}
.container .ten.columns {
  width: 580px;
}
.container .eleven.columns {
  width: 640px;
}
.container .twelve.columns {
  width: 700px;
}
.container .thirteen.columns {
  width: 760px;
}
.container .fourteen.columns {
  width: 820px;
}
.container .fifteen.columns {
  width: 880px;
}
.container .sixteen.columns {
  width: 940px;
}
.container .one-third.column {
  width: 300px;
}
.container .two-thirds.column {
  width: 620px;
}
/* Offsets */
.container .offset-by-one {
  padding-left: 60px;
}
.container .offset-by-two {
  padding-left: 120px;
}
.container .offset-by-three {
  padding-left: 180px;
}
.container .offset-by-four {
  padding-left: 240px;
}
.container .offset-by-five {
  padding-left: 300px;
}
.container .offset-by-six {
  padding-left: 360px;
}
.container .offset-by-seven {
  padding-left: 420px;
}
.container .offset-by-eight {
  padding-left: 480px;
}
.container .offset-by-nine {
  padding-left: 540px;
}
.container .offset-by-ten {
  padding-left: 600px;
}
.container .offset-by-eleven {
  padding-left: 660px;
}
.container .offset-by-twelve {
  padding-left: 720px;
}
.container .offset-by-thirteen {
  padding-left: 780px;
}
.container .offset-by-fourteen {
  padding-left: 840px;
}
.container .offset-by-fifteen {
  padding-left: 900px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }
  .container .two.columns {
    width: 76px;
  }
  .container .three.columns {
    width: 124px;
  }
  .container .four.columns {
    width: 172px;
  }
  .container .five.columns {
    width: 220px;
  }
  .container .six.columns {
    width: 268px;
  }
  .container .seven.columns {
    width: 316px;
  }
  .container .eight.columns {
    width: 364px;
  }
  .container .nine.columns {
    width: 412px;
  }
  .container .ten.columns {
    width: 460px;
  }
  .container .eleven.columns {
    width: 508px;
  }
  .container .twelve.columns {
    width: 556px;
  }
  .container .thirteen.columns {
    width: 604px;
  }
  .container .fourteen.columns {
    width: 652px;
  }
  .container .fifteen.columns {
    width: 700px;
  }
  .container .sixteen.columns {
    width: 748px;
  }
  .container .one-third.column {
    width: 236px;
  }
  .container .two-thirds.column {
    width: 492px;
  }
  /* Offsets */
  .container .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }
  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* #Additional grid (created by Jean-Maxime Couillard)
================================================== */
@media only screen and (min-width: 960px) {
  .container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  .container .column,
  .container .columns {
    float: left;
    display: inline;
    margin-left: 17.5px;
    margin-right: 17.5px;
  }
  .row {
    margin-bottom: 35px;
  }
  /* Nested Column Classes */
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
  }
  /* Base Grid */
  .container .one.column,
  .container .one.columns {
    width: 25px;
  }
  .container .two.columns {
    width: 85px;
  }
  .container .three.columns {
    width: 145px;
  }
  .container .four.columns {
    width: 205px;
  }
  .container .five.columns {
    width: 265px;
  }
  .container .six.columns {
    width: 325px;
  }
  .container .seven.columns {
    width: 385px;
  }
  .container .eight.columns {
    width: 445px;
  }
  .container .nine.columns {
    width: 505px;
  }
  .container .ten.columns {
    width: 565px;
  }
  .container .eleven.columns {
    width: 625px;
  }
  .container .twelve.columns {
    width: 685px;
  }
  .container .thirteen.columns {
    width: 745px;
  }
  .container .fourteen.columns {
    width: 805px;
  }
  .container .fifteen.columns {
    width: 865px;
  }
  .container .sixteen.columns {
    width: 925px;
  }
  .container .one-third.column {
    width: 285px;
  }
  .container .two-thirds.column {
    width: 605px;
  }
  /* Offsets */
  .container .offset-by-one {
    padding-left: 60px;
  }
  .container .offset-by-two {
    padding-left: 120px;
  }
  .container .offset-by-three {
    padding-left: 180px;
  }
  .container .offset-by-four {
    padding-left: 240px;
  }
  .container .offset-by-five {
    padding-left: 300px;
  }
  .container .offset-by-six {
    padding-left: 360px;
  }
  .container .offset-by-seven {
    padding-left: 420px;
  }
  .container .offset-by-eight {
    padding-left: 480px;
  }
  .container .offset-by-nine {
    padding-left: 540px;
  }
  .container .offset-by-ten {
    padding-left: 600px;
  }
  .container .offset-by-eleven {
    padding-left: 660px;
  }
  .container .offset-by-twelve {
    padding-left: 720px;
  }
  .container .offset-by-thirteen {
    padding-left: 780px;
  }
  .container .offset-by-fourteen {
    padding-left: 840px;
  }
  .container .offset-by-fifteen {
    padding-left: 900px;
  }
}
/* #Additional grid (created by Jean-Maxime Couillard)
================================================== */
@media only screen and (min-width: 1200px) {
  .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .container .column,
  .container .columns {
    float: left;
    display: inline;
    margin-left: 17.5px;
    margin-right: 17.5px;
  }
  .row {
    margin-bottom: 35px;
  }
  /* Nested Column Classes */
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
  }
  /* Base Grid */
  .container .one.column,
  .container .one.columns {
    width: 40px;
  }
  .container .two.columns {
    width: 115px;
  }
  .container .three.columns {
    width: 190px;
  }
  .container .four.columns {
    width: 265px;
  }
  .container .five.columns {
    width: 340px;
  }
  .container .six.columns {
    width: 415px;
  }
  .container .seven.columns {
    width: 490px;
  }
  .container .eight.columns {
    width: 565px;
  }
  .container .nine.columns {
    width: 640px;
  }
  .container .ten.columns {
    width: 715px;
  }
  .container .eleven.columns {
    width: 790px;
  }
  .container .twelve.columns {
    width: 865px;
  }
  .container .thirteen.columns {
    width: 940px;
  }
  .container .fourteen.columns {
    width: 1015px;
  }
  .container .fifteen.columns {
    width: 1090px;
  }
  .container .sixteen.columns {
    width: 1165px;
  }
  .container .one-third.column {
    width: 365px;
  }
  .container .two-thirds.column {
    width: 765px;
  }
  /* Offsets */
  .container .offset-by-one {
    padding-left: 75px;
  }
  .container .offset-by-two {
    padding-left: 150px;
  }
  .container .offset-by-three {
    padding-left: 225px;
  }
  .container .offset-by-four {
    padding-left: 300px;
  }
  .container .offset-by-five {
    padding-left: 375px;
  }
  .container .offset-by-six {
    padding-left: 450px;
  }
  .container .offset-by-seven {
    padding-left: 525px;
  }
  .container .offset-by-eight {
    padding-left: 600px;
  }
  .container .offset-by-nine {
    padding-left: 675px;
  }
  .container .offset-by-ten {
    padding-left: 750px;
  }
  .container .offset-by-eleven {
    padding-left: 825px;
  }
  .container .offset-by-twelve {
    padding-left: 900px;
  }
  .container .offset-by-thirteen {
    padding-left: 975px;
  }
  .container .offset-by-fourteen {
    padding-left: 1050px;
  }
  .container .offset-by-fifteen {
    padding-left: 1125px;
  }
}
html {
  height: 100%;
}
body {
  font-family: 'PilcrowSoft', sans-serif;
  color: #FFF;
  background-color: #1c1c1c;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
}
a {
  color: #ca0813;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
.block {
  display: block;
}
.label {
  color: #ca0813;
  font-family: 'PilcrowSoft-Bold', sans-serif;
}
#main {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  padding-top: 100px;
  padding-bottom: 123px;
  position: relative;
  min-height: 100%;
}
#main .view {
  top: 0px;
}
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
.center {
  text-align: center;
}
.view.ng-enter,
.view.ng-leave {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.view.ng-enter {
  position: absolute;
  opacity: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.view.ng-enter.ng-enter-active {
  position: relative;
  opacity: 1;
}
.view.ng-leave {
  opacity: 1;
}
.view.ng-leave.ng-leave-active {
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
  z-index: 2;
}
img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#header {
  position: relative;
  z-index: 999;
}
#header .wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #ca0813;
  height: 103px;
  z-index: 2;
}
#header .header__logo-image {
  margin-top: 16px;
  width: 145px;
}
#header nav {
  outline: 0;
}
#header nav li.text-link {
  opacity: 0;
}
#header.f-nav .wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
}
#header nav.menuin li.text-link {
  opacity: 1.0;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
#header #main-menu {
  text-align: center;
}
#header #main-menu ul {
  display: inline-block;
  margin: 11px;
  padding: 0;
}
#header #main-menu ul li {
  display: inline-block;
  text-transform: uppercase;
  width: 118px;
}
#header #main-menu ul li.text-link {
  vertical-align: top;
  padding: 24px 18px;
}
@media screen and (min-width: 1200px) {
  #header #main-menu ul li.text-link {
    padding: 24px 40px;
  }
}
#header #main-menu ul li.text-link .btn {
  position: relative;
  height: 34px;
}
#header #main-menu ul li.text-link .linetop,
#header #main-menu ul li.text-link .linebottom {
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  overflow: hidden;
}
#header #main-menu ul li.text-link .linetop {
  top: 1px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
#header #main-menu ul li.text-link .linebottom {
  bottom: 1px;
  right: 0px;
  -webkit-transition: width 0.5s 0.25s;
  -moz-transition: width 0.5s 0.25s;
  -ms-transition: width 0.5s 0.25s;
  -o-transition: width 0.5s 0.25s;
}
#header #main-menu ul li.text-link.active .linetop,
#header #main-menu ul li.text-link.active .linebottom {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #header #main-menu ul li.text-link.language {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #header #main-menu ul li.text-link:hover .linetop,
  #header #main-menu ul li.text-link:hover .linebottom {
    width: 100%;
  }
}
#header #main-menu ul li.logo-link {
  width: 145px;
}
@media screen and (min-width: 1200px) {
  #header #main-menu ul li.logo-link {
    margin: 0 40px;
  }
}
#header #main-menu ul li.logo-link a {
  margin-top: 0px;
  margin-left: 0;
}
#header #main-menu ul li a,
#header #main-menu ul li .a {
  display: inline-block;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}
@media only screen and (max-width: 959px) {
  #header #main-menu ul li.logo-link {
    margin-left: 20px;
  }
  #header #main-menu ul li.text-link {
    padding: 24px 12px;
  }
}
@media only screen and (max-width: 767px) {
  #header #main-menu {
    position: absolute;
    left: 0%;
    top: 103px;
    width: 100%;
    display: block;
    background-color: #ca0813;
    z-index: 100;
    height: 350px;
    overflow: hidden;
    -webkit-transition: height 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: height 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: height 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: height 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  #header #main-menu.nav-collapse {
    height: 0px;
  }
  #header #main-menu li.logo-link {
    display: none;
  }
  #header #main-menu li.text-link {
    display: block;
  }
}
#header #responsive-content {
  display: none;
}
#header #responsive-content .toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  background: transparent url('../images/hamburger.png') no-repeat 0 0;
  height: 20px;
  width: 20px;
  background-size: contain;
  cursor: pointer;
  text-indent: -9999px;
}
#header #responsive-content .logo {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 10px;
  width: 51px;
  height: 85px;
  margin-left: -52px;
}
#header #responsive-content .logo a {
  display: block;
  height: 85px;
}
@media only screen and (max-width: 767px) {
  #header .container {
    width: 100%;
  }
  #header #responsive-content {
    display: block;
  }
}
#header #language-switcher {
  position: absolute;
  top: 23px;
  right: 0px;
}
@media only screen and (max-width: 767px) {
  #header #language-switcher {
    display: none;
  }
}
#header #language-switcher ul {
  list-style-image: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#header #language-switcher ul li {
  color: #000;
  cursor: pointer;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
#header #language-switcher ul li.first {
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  #header .wrapper {
    height: 50px;
  }
  #responsive-content .logo {
    top: 0px;
  }
  #responsive-content .header__logo-image {
    margin: 0;
    width: 100px;
  }
  #header #main-menu {
    top: 50px;
  }
}
#footer {
  background-color: #2c2c2c;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  cursor: pointer;
  z-index: 999;
  height: 50px;
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#footer:hover {
  cursor: default;
}
#footer #footer-social {
  text-align: center;
  margin: 0 auto;
}
#footer #footer-social .icon {
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  font-size: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 8px;
}
#footer #footer-social .icon.twitter {
  background: transparent url('../images/social-t.png') no-repeat center center;
  background-size: contain;
  width: 35px;
  height: 20px;
}
#footer #footer-social .icon.fb {
  background: transparent url('../images/social-fb.png') no-repeat center center;
  background-size: contain;
  width: 18px;
  height: 20px;
}
#footer #footer-social .icon.googleplus {
  background: transparent url('../images/social-g.png') no-repeat center center;
  background-size: contain;
  width: 33px;
  height: 20px;
}
#footer #footer-social .icon.vimeo {
  background: transparent url('../images/social-v.png') no-repeat center center;
  background-size: contain;
  width: 30px;
  height: 20px;
}
#footer #footer-social .icon:hover {
  opacity: 0.5;
}
.spin {
  -webkit-animation: standard 1.05s infinite ease-in-out;
  -moz-animation: standard 1.05s infinite ease-in-out;
  -ms-animation: standard 1.05s infinite ease-in-out;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  width: 97px;
  height: 94px;
  background: transparent url('../images/spin.png') no-repeat 0 0;
  display: inline-block;
}
.spin2 {
  display: inline-block;
  width: 97px;
  height: 94px;
  position: relative;
}
.spin2 .horizontal {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 50%;
  margin-top: -5px;
}
.spin2 .horizontal .line {
  position: absolute;
  height: 2px;
  background-color: #ca0813;
  width: 0%;
}
.spin2 .horizontal .line.line1 {
  top: 0px;
  right: 0px;
  -webkit-animation: expand1 1.05s infinite ease-in-out;
  -moz-animation: expand1 1.05s infinite ease-in-out;
  -ms-animation: expand1 1.05s infinite ease-in-out;
}
.spin2 .horizontal .line.line2 {
  bottom: 0px;
  left: 0px;
  -webkit-animation: expand2 1.05s infinite ease-in-out;
  -moz-animation: expand2 1.05s infinite ease-in-out;
  -ms-animation: expand2 1.05s infinite ease-in-out;
}
.spin2 .vertical {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 50%;
  margin-left: -5px;
}
.spin2 .vertical .line {
  position: absolute;
  width: 2px;
  background-color: #ca0813;
  height: 0%;
}
.spin2 .vertical .line.line1 {
  top: 0px;
  right: 0px;
  -webkit-animation: expand3 1.05s infinite ease-in-out;
  -moz-animation: expand3 1.05s infinite ease-in-out;
  -ms-animation: expand3 1.05s infinite ease-in-out;
}
.spin2 .vertical .line.line2 {
  bottom: 0px;
  left: 0px;
  -webkit-animation: expand4 1.05s infinite ease-in-out;
  -moz-animation: expand4 1.05s infinite ease-in-out;
  -ms-animation: expand4 1.05s infinite ease-in-out;
}
.spin-animation.ng-enter,
.spin-animation.ng-leave,
.spin-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.spin-animation.ng-enter,
.spin-animation.ng-move {
  opacity: 0;
}
.spin-animation.ng-enter.ng-enter-active,
.spin-animation.ng-move.ng-move-active {
  opacity: 1;
}
.spin-animation.ng-leave {
  opacity: 1;
}
.spin-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
@-webkit-keyframes expand1 {
  0% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@keyframes expand1 {
  0% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes expand2 {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
}
@keyframes expand2 {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
}
@-webkit-keyframes expand3 {
  0% {
    height: 0%;
  }
  30% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  80% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}
@keyframes expand3 {
  0% {
    height: 0%;
  }
  30% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  80% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes expand4 {
  0% {
    height: 0%;
  }
  10% {
    height: 0%;
  }
  40% {
    height: 100%;
  }
  60% {
    height: 100%;
  }
  90% {
    height: 0%;
  }
}
@keyframes expand4 {
  0% {
    height: 0%;
  }
  10% {
    height: 0%;
  }
  40% {
    height: 100%;
  }
  60% {
    height: 100%;
  }
  90% {
    height: 0%;
  }
}
@-webkit-keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.list {
  display: inline-block;
  margin: 0px;
  padding: 0;
  padding-top: 10px;
}
.list-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  cursor: pointer;
}
.list-item .project {
  line-height: 0px;
}
.list-item a {
  color: #FFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.list-item img.project-image {
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
}
.list-item .contrast {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 27%;
}
@media only screen and (max-width: 767px) {
  .list-item .contrast {
    height: 19%;
  }
}
.list-item .over {
  background: transparent url('../images/rollover.png') repeat 0 0;
  position: absolute;
  top: -100%;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: top 0.2s ease-in-out, opacity 0.2s linear;
  -moz-transition: top 0.2s ease-in-out, opacity 0.2s linear;
  -ms-transition: top 0.2s ease-in-out, opacity 0.2s linear;
  -o-transition: top 0.2s ease-in-out, opacity 0.2s linear;
}
.list-item:hover .over {
  top: 0%;
  opacity: 1;
}
.list-item .staff-pick {
  position: absolute;
  top: 20px;
  left: 20px;
}
.list-item .staff-pick img {
  width: 80px;
  height: 80px;
}
.list-item .info {
  background: transparent url('../images/contraste2.png');
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: normal;
}
.list-item .info .wrapper {
  margin-right: 4%;
  margin-left: 4%;
}
.list-item .info .wrapper .titlemask {
  overflow: hidden;
}
.list-item .info .wrapper .clientmask {
  overflow: hidden;
}
.list-item .info .wrapper .title {
  display: block;
  font-size: 20px;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.2em;
}
.list-item .info .wrapper .linetop,
.list-item .info .wrapper .linebottom {
  line-height: 0;
}
.list-item .info .wrapper .linetop .line,
.list-item .info .wrapper .linebottom .line {
  display: inline-block;
  background-color: #ca0813;
  width: 65%;
  height: 2px;
}
.list-item .info .wrapper .linetop {
  text-align: center;
}
.list-item .info .wrapper .linebottom {
  text-align: center;
}
.list-item .info .wrapper .tags,
.list-item .info .wrapper .date {
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
}
.list-item .info .wrapper .tags span,
.list-item .info .wrapper .date span {
  margin: 0px 5px;
  display: inline-block;
}
.list-item .info .wrapper .tags span::after,
.list-item .info .wrapper .date span::after {
  content: "/";
  margin-left: 5px;
}
.list-item .info .wrapper .tags span.last::after,
.list-item .info .wrapper .date span.last::after {
  content: none;
}
.list-item .info .wrapper .project-client-content {
  text-align: center;
  margin-top: 0px;
  font-size: 0.8em;
}
.list-item .video-hover.hover.jp-ready .jp {
  opacity: 1;
}
.list-item .video-hover .jp {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
.list-item.one-third .info {
  /*bottom: 15px;*/
}
@media only screen and (max-width: 767px) {
  .list-item.columns,
  .list-item.column {
    margin-bottom: 20px;
  }
}
.list-item-animation.ng-enter,
.list-item-animation.ng-leave,
.list-item-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.list-item-animation.ng-enter,
.list-item-animation.ng-move {
  opacity: 0;
}
.list-item-animation.ng-enter.ng-enter-active,
.list-item-animation.ng-move.ng-move-active {
  opacity: 1;
}
.list-item-animation.ng-leave {
  opacity: 1;
}
.list-item-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.list-item-animation.ng-enter-stagger {
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
.list-item-animation.ng-enter,
.list-item-animation.ng-move {
  opacity: 0;
}
.list-item-animation.ng-enter .wrapper .title,
.list-item-animation.ng-move .wrapper .title {
  -webkit-transform: translate(0px, 50px);
  -moz-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  opacity: 0;
}
.list-item-animation.ng-enter .wrapper .tags,
.list-item-animation.ng-move .wrapper .tags,
.list-item-animation.ng-enter .wrapper .date,
.list-item-animation.ng-move .wrapper .date {
  -webkit-transform: translate(-25px, 0px);
  -moz-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  -o-transform: translate(-25px, 0px);
  opacity: 0;
}
.list-item-animation.ng-enter .wrapper .project-client-content,
.list-item-animation.ng-move .wrapper .project-client-content {
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  opacity: 0;
}
.list-item-animation.ng-enter .wrapper .linetop .line,
.list-item-animation.ng-move .wrapper .linetop .line,
.list-item-animation.ng-enter .wrapper .linebottom .line,
.list-item-animation.ng-move .wrapper .linebottom .line {
  width: 0%;
}
.list-item-animation.ng-enter .title,
.list-item-animation.ng-enter .line,
.list-item-animation.ng-enter .tags,
.list-item-animation.ng-enter .project-client-content,
.list-item-animation.ng-enter .date {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.list-item-animation .title,
.list-item-animation .line,
.list-item-animation .tags,
.list-item-animation .project-client-content,
.list-item-animation .date {
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.list-item-animation .title {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.list-item-animation .linetop .line {
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
}
.list-item-animation .linebottom .line {
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}
.list-item-animation .tags,
.list-item-animation .date {
  -webkit-transition-delay: 750ms;
  -o-transition-delay: 750ms;
  transition-delay: 750ms;
}
.list-item-animation .project-client-content {
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .info .title {
    font-size: 95% !important;
  }
  .info .clientmask {
    display: none;
  }
}
@media only screen and (max-width: 478px) {
  .info .clientmask {
    display: none;
  }
}
.home-only {
  opacity: 0;
}
.HomeCtrl {
  background-color: #1c1c1c;
}
.HomeCtrl #main {
  background-color: #1c1c1c;
}
.HomeCtrl .home-only {
  display: block;
  height: 0px;
  opacity: 1;
}
.HomeCtrl #footer {
  opacity: 0;
  z-index: -1;
}
.HomeCtrl #footer.front-show {
  opacity: 1;
  z-index: 0;
}
#home-intro {
  -webkit-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) height, 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -moz-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) height, 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -ms-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) height, 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -o-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) height, 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  overflow: hidden;
  background: #000000 none no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /*#animatedlogo {
		display: inline-block;
	}*/
}
@media only screen and (max-width: 767px) {
  #home-intro {
    background-attachment: scroll;
  }
}
#home-intro #frontvideo {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0;
}
#home-intro #frontvideo video {
  position: absolute;
}
#home-intro #frontvideo.jp-ready {
  opacity: 1;
  -webkit-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -moz-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -ms-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
  -o-transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) opacity;
}
#home-intro .wrapper {
  width: 340px;
  top: 45%;
  left: 50%;
  position: relative;
  margin-left: -170px;
  text-align: center;
}
#home-intro .wrapper .blvd-text {
  margin-top: 35px;
  width: 163px;
  height: 32px;
}
#home-intro .wrapper .blvd-logo {
  width: 100%;
}
#home-intro .wrapper .tagline {
  top: 50%;
  position: relative;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  margin-top: 35px;
}
@media only screen and (max-width: 767px) {
  #home-intro .wrapper {
    width: 200px;
    margin-left: -100px;
    /*#animatedlogo {
				display: none;
			}*/
  }
  #home-intro .wrapper .blvd-logo,
  #home-intro .wrapper .blvd-text {
    width: 100%;
    height: auto;
    display: block;
  }
}
#home-intro .scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -25px;
  padding-bottom: 50px;
  cursor: pointer;
  height: 50px;
}
#home-intro .scrolldown .arrow {
  width: 51px;
  height: 21px;
  background: transparent url('../images/scrolldown.png') no-repeat center center;
  -webkit-animation: bounce 0.75s infinite ease-in-out alternate;
  animation: bounce 0.75s infinite ease-in-out alternate;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
}
.overlay-news .content {
  position: fixed;
  top: 200px;
  left: 50%;
  width: 800px;
  height: 200px;
  margin-left: -400px;
  z-index: 2;
  white-space: nowrap;
}
.overlay-news .content .col-right,
.overlay-news .content .col-left,
.overlay-news .content .col-center {
  vertical-align: top;
  display: inline-block;
  white-space: normal;
}
.overlay-news .content .col-right {
  width: 200px;
  text-align: right;
}
.overlay-news .content .col-center {
  width: 400px;
}
.overlay-news .content .col-left {
  width: 200px;
}
.overlay-news .content .date {
  font-family: 'PilcrowSoft-Bold', sans-serif;
}
.overlay-news .content .title {
  font-family: 'PilcrowSoft-Medium', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overlay-news .content .close {
  display: inline-block;
  background: transparent url('../images/close.png') no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.overlay-news .content .description {
  line-height: 25px;
}
@media only screen and (max-width: 767px) {
  .overlay-news .content {
    top: 5%;
    left: 5%;
    width: 90%;
    margin-left: 0px;
  }
  .overlay-news .content .col-right,
  .overlay-news .content .col-left,
  .overlay-news .content .col-center {
    display: block;
    white-space: normal;
    width: 100%;
  }
  .overlay-news .content .col-left,
  .overlay-news .content .col-center {
    margin-bottom: 30px;
  }
  .overlay-news .content .col-right {
    text-align: center;
  }
}
.overlay-news.news-animation.ng-enter,
.overlay-news.news-animation.ng-leave,
.overlay-news.news-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.overlay-news.news-animation.ng-enter,
.overlay-news.news-animation.ng-move {
  opacity: 0;
}
.overlay-news.news-animation.ng-enter.ng-enter-active,
.overlay-news.news-animation.ng-move.ng-move-active {
  opacity: 1;
}
.overlay-news.news-animation.ng-leave {
  opacity: 1;
}
.overlay-news.news-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.overlay-news.news-animation.ng-enter .date,
.overlay-news.news-animation.ng-leave .date,
.overlay-news.news-animation.ng-move .date,
.overlay-news.news-animation.ng-enter .category,
.overlay-news.news-animation.ng-leave .category,
.overlay-news.news-animation.ng-move .category {
  -webkit-transform: translate(-20px, 0px);
  -moz-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  -o-transform: translate(-20px, 0px);
  opacity: 0;
}
.overlay-news.news-animation.ng-enter .title,
.overlay-news.news-animation.ng-leave .title,
.overlay-news.news-animation.ng-move .title,
.overlay-news.news-animation.ng-enter .description,
.overlay-news.news-animation.ng-leave .description,
.overlay-news.news-animation.ng-move .description {
  -webkit-transform: translate(0px, -20px);
  -moz-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  -o-transform: translate(0px, -20px);
  opacity: 0;
}
.overlay-news.news-animation.ng-enter .overlay,
.overlay-news.news-animation.ng-leave .overlay,
.overlay-news.news-animation.ng-move .overlay {
  opacity: 0;
}
.overlay-news.news-animation .date,
.overlay-news.news-animation .category,
.overlay-news.news-animation .title,
.overlay-news.news-animation .description,
.overlay-news.news-animation .overlay {
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  opacity: 1;
}
.overlay-news.news-animation.ng-enter .date {
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}
.overlay-news.news-animation.ng-enter .category {
  -webkit-transition-delay: 450ms;
  -o-transition-delay: 450ms;
  transition-delay: 450ms;
}
.overlay-news.news-animation.ng-enter .title {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
.overlay-news.news-animation.ng-enter .description {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}
.overlay-news.news-animation.ng-leave .overlay {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translate(0px, 30px);
    transform: translateY(30px);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
#project .top-image {
  position: relative;
  width: 100%;
  line-height: 0px;
}
#project .top-image img {
  width: 100%;
}
#project .top-image .vimeo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9998;
}
#project .top-image .vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
}
#project .top-image .vimeo .vimeoclose {
  top: 0;
  z-index: 99999;
}
#project .top-image .vimeoplay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 92px;
  margin-left: -87px;
  margin-top: -46px;
  cursor: pointer;
}
#project .top-image .vimeoplay img {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
#project .top-image .vimeoplay:hover img {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
#project .top-image .projectclose,
#project .top-image .vimeoclose {
  position: fixed;
  top: 103px;
  right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 20px;
  background: transparent url('../images/black75.png') repeat 0 0;
}
#project .project-info {
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -ms-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  margin-top: 30px;
  /*@media only screen and (max-width: 767px) {
			margin-top: -15px;
		}*/
}
#project .project-info .titlemask,
#project .project-info .clientmask {
  overflow: hidden;
}
#project .project-info .titlemask {
  margin: 5px 0 7px 0;
}
#project .project-info .project-title {
  display: block;
  font-size: 30px;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0.2em 0 0 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  #project .project-info .project-title {
    font-size: 20px;
  }
}
#project .project-info .linetop,
#project .project-info .linebottom {
  line-height: 0;
}
#project .project-info .linetop .line,
#project .project-info .linebottom .line {
  display: inline-block;
  background-color: #ca0813;
  width: 100%;
  height: 2px;
}
#project .project-info .linetop {
  text-align: right;
}
#project .project-info .linebottom {
  text-align: left;
}
#project .project-info .project-type {
  display: block;
  text-align: center;
  padding: 12px 0px;
  text-transform: uppercase;
}
#project .project-info .project-type span {
  margin: 0px 5px;
}
#project .project-info .project-type span::after {
  content: "/";
  margin-left: 5px;
}
#project .project-info .project-type span.last::after {
  content: none;
}
#project .project-info .project-client-content {
  display: block;
  text-align: center;
  padding: 12px 0px;
  text-transform: uppercase;
}
#project .quote {
  font-size: 30px;
  margin-bottom: 45px;
}
#project .description {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 45px;
  color: #bfbfbf;
}
#project .director {
  font-size: 22px;
  margin-bottom: 45px;
}
#project .director .label {
  font-size: 17px;
}
#project .director a {
  color: #FFF;
  text-decoration: none;
}
#project .artists {
  margin-bottom: 45px;
  line-height: 23px;
}
#project .tags-date,
#project .awards {
  border-top: 1px #ca0813 solid;
  vertical-align: top;
  white-space: nowrap;
}
#project .tags-date .title,
#project .awards .title {
  display: inline-block;
  vertical-align: top;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #ca0813;
  padding: 13px 0px 13px 0px;
  width: 7%;
}
#project .tags-date .awards-list,
#project .awards .awards-list,
#project .tags-date .tags-list,
#project .awards .tags-list {
  display: inline-block;
  vertical-align: top;
  padding: 13px 0px;
}
#project .tags-date .awards-list .tag,
#project .awards .awards-list .tag,
#project .tags-date .tags-list .tag,
#project .awards .tags-list .tag,
#project .tags-date .awards-list .award,
#project .awards .awards-list .award,
#project .tags-date .tags-list .award,
#project .awards .tags-list .award {
  display: block;
  margin-bottom: 5px;
  white-space: normal;
}
#project .tags-date .tags-list,
#project .awards .tags-list {
  width: 45%;
}
@media only screen and (max-width: 767px) {
  #project .tags-date .tags-list,
  #project .awards .tags-list {
    width: 80%;
  }
}
#project .tags-date .awards-list,
#project .awards .awards-list {
  width: 80%;
  white-space: normal;
}
#project .tags-date .date,
#project .awards .date {
  border-left: 1px #ca0813 solid;
  vertical-align: top;
  padding: 13px 3%;
  display: inline-block;
  width: 23%;
}
@media only screen and (max-width: 767px) {
  #project .tags-date .date,
  #project .awards .date {
    display: block;
    border-left: none;
    border-top: 1px #ca0813 solid;
    width: auto;
    text-align: center;
  }
}
#project #shareIcons {
  margin-top: -10px;
}
#project .icon {
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  font-size: 0;
  margin-bottom: 25px;
  cursor: pointer;
}
@media only screen and (max-width: 759px) {
  #project .icon {
    margin-left: 24px;
    margin-right: 24px;
  }
}
#project .icon.twitter {
  background: transparent url('../images/social-t.png') no-repeat center center;
  background-size: contain;
  width: 35px;
  height: 28px;
}
#project .icon.fb {
  background: transparent url('../images/social-fb.png') no-repeat center center;
  background-size: contain;
  width: 18px;
  height: 28px;
  margin-left: 5px;
}
#project .icon.googleplus {
  background: transparent url('../images/social-g.png') no-repeat center center;
  background-size: contain;
  width: 33px;
  height: 28px;
}
#project .images .columns {
  margin-bottom: 20px;
}
#project .images .columns img {
  width: 100%;
}
#project .vimeo-animation {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#project .vimeo-animation.ng-enter,
#project .vimeo-animation.ng-leave,
#project .vimeo-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#project .vimeo-animation.ng-enter,
#project .vimeo-animation.ng-move {
  opacity: 0;
}
#project .vimeo-animation.ng-enter.ng-enter-active,
#project .vimeo-animation.ng-move.ng-move-active {
  opacity: 1;
}
#project .vimeo-animation.ng-leave {
  opacity: 1;
}
#project .vimeo-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
#project .vimeo-animation.ng-enter,
#project .vimeo-animation.ng-move {
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  opacity: 0;
}
#project .vimeo-animation.ng-enter-active {
  opacity: 0 ! important;
}
#project.project-animation.ng-enter,
#project.project-animation.ng-leave,
#project.project-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#project.project-animation.ng-enter,
#project.project-animation.ng-move {
  opacity: 0;
}
#project.project-animation.ng-enter.ng-enter-active,
#project.project-animation.ng-move.ng-move-active {
  opacity: 1;
}
#project.project-animation.ng-leave {
  opacity: 1;
}
#project.project-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
#project.project-animation.ng-enter .project-info .project-title,
#project.project-animation.ng-move .project-info .project-title {
  -webkit-transform: translate(0px, 50px);
  -moz-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  opacity: 0;
}
#project.project-animation.ng-enter .project-info .linetop .line,
#project.project-animation.ng-move .project-info .linetop .line,
#project.project-animation.ng-enter .project-info .linebottom .line,
#project.project-animation.ng-move .project-info .linebottom .line {
  width: 0%;
}
#project.project-animation.ng-enter .project-info .project-type,
#project.project-animation.ng-move .project-info .project-type {
  -webkit-transform: translate(-25px, 0px);
  -moz-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  -o-transform: translate(-25px, 0px);
  opacity: 0;
}
#project.project-animation.ng-enter .project-info .project-client-content,
#project.project-animation.ng-move .project-info .project-client-content {
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  opacity: 0;
}
#project.project-animation .project-title,
#project.project-animation .line,
#project.project-animation .project-type,
#project.project-animation .project-client-content {
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#project.project-animation .client-content {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
#project.project-animation .project-title {
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
#project.project-animation .linetop .line {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
#project.project-animation .linebottom .line {
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
}
#project.project-animation .project-type {
  -webkit-transition-delay: 1150ms;
  -o-transition-delay: 1150ms;
  transition-delay: 1150ms;
}
#project.project-animation .project-client-content {
  -webkit-transition-delay: 1250ms;
  -o-transition-delay: 1250ms;
  transition-delay: 1250ms;
}
@media only screen and (max-width: 768px) {
  #project {
    margin-top: -50px;
  }
  .projectclose {
    top: 50px;
  }
}
#projects ul {
  display: inline;
}
#projects-filters {
  padding-top: 0px;
  padding-bottom: 0px;
}
#projects-filters .filter-toggle-row {
  margin-bottom: 0px;
}
#projects-filters #filter-toggle {
  font-family: 'PilcrowSoft-Medium', sans-serif;
  font-size: 16px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#projects-filters #filter-toggle img {
  width: 11px;
  height: 7px;
  margin-bottom: 2px;
  margin-left: 15px;
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#projects-filters #filter-toggle.toggled img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#projects-filters .type-title {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#projects-filters #filters {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid #ca0813;
  border-bottom: 2px solid #ca0813;
}
@media only screen and (max-width: 759px) {
  #projects-filters .filter-group.column {
    margin-bottom: 20px;
  }
}
#projects-filters ul.filters-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: block;
}
#projects-filters ul.filters-list li {
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #484848;
  padding: 7px 13px 6px;
  font-size: 14px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#projects-filters ul.filters-list li:hover {
  background-color: #484848;
}
#projects-filters ul.filters-list li.active {
  border: 1px solid #ca0813;
  background-color: #ca0813;
}
#slideshow {
  margin: 3px 0 10px 0;
  width: 100%;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  #slideshow {
    display: none;
  }
}
#directors {
  padding-top: 150px;
  padding-bottom: 0px;
}
#directors ul,
#directors ul li {
  padding: 0;
  margin: 0;
}
#directors .office {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #directors .office {
    margin-bottom: 40px;
  }
}
#directors .office-name {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #ca0813;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 60px;
  display: block;
}
@media only screen and (max-width: 767px) {
  #directors .office-name {
    margin-bottom: 10px;
  }
}
#directors .artist {
  display: block;
  font-family: 'PilcrowSoft-Semibold', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}
#directors .artist:hover,
#directors .artist.active {
  color: #646464;
}
#directors .artist.ng-enter,
#directors .artist.ng-leave,
#directors .artist.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#directors .artist.ng-enter,
#directors .artist.ng-move {
  opacity: 0;
}
#directors .artist.ng-enter.ng-enter-active,
#directors .artist.ng-move.ng-move-active {
  opacity: 1;
}
#directors .artist.ng-leave {
  opacity: 1;
}
#directors .artist.ng-leave.ng-leave-active {
  opacity: 0;
}
#directors .artist.ng-enter-stagger {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
#directors .artist.ng-enter,
#directors .artist.ng-leave,
#directors .artist.ng-move {
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#director .arrow {
  display: inline-block;
  width: 51px;
  height: 21px;
  background: transparent url('../images/scrollup.png') no-repeat center center;
  margin: 100px 0px 0px;
  cursor: pointer;
}
#director .director-name {
  display: block;
  font-family: 'PilcrowSoft-Bold', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
#director .director-description {
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
}
#director.director-animation.ng-enter,
#director.director-animation.ng-leave,
#director.director-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#director.director-animation.ng-enter,
#director.director-animation.ng-move {
  opacity: 0;
}
#director.director-animation.ng-enter.ng-enter-active,
#director.director-animation.ng-move.ng-move-active {
  opacity: 1;
}
#director.director-animation.ng-leave {
  opacity: 1;
}
#director.director-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
#director.director-animation.ng-enter,
#director.director-animation.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#page-blvd {
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  #page-blvd {
    padding-top: 50px;
  }
}
#page-blvd .big {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #ca0813;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 55px;
}
@media only screen and (min-width: 1200px) {
  #page-blvd .big {
    font-size: 88px;
    line-height: 70px;
  }
}
#page-blvd .big .line {
  display: block;
}
#page-blvd .sm {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #ca0813;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 50px;
}
#page-blvd .content {
  line-height: 25px;
  text-align: justify;
}
#page-blvd.ng-enter.ng-enter,
#page-blvd.ng-move.ng-enter,
#page-blvd.ng-enter.ng-leave,
#page-blvd.ng-move.ng-leave,
#page-blvd.ng-enter.ng-move,
#page-blvd.ng-move.ng-move {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#page-blvd.ng-enter.ng-enter,
#page-blvd.ng-move.ng-enter,
#page-blvd.ng-enter.ng-move,
#page-blvd.ng-move.ng-move {
  opacity: 0;
}
#page-blvd.ng-enter.ng-enter.ng-enter-active,
#page-blvd.ng-move.ng-enter.ng-enter-active,
#page-blvd.ng-enter.ng-move.ng-move-active,
#page-blvd.ng-move.ng-move.ng-move-active {
  opacity: 1;
}
#page-blvd.ng-enter.ng-leave,
#page-blvd.ng-move.ng-leave {
  opacity: 1;
}
#page-blvd.ng-enter.ng-leave.ng-leave-active,
#page-blvd.ng-move.ng-leave.ng-leave-active {
  opacity: 0;
}
#page-blvd.ng-enter.ng-enter-stagger,
#page-blvd.ng-move.ng-enter-stagger {
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
#page-blvd.ng-enter .line,
#page-blvd.ng-move .line {
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  opacity: 0;
}
#page-blvd.ng-enter .line-4,
#page-blvd.ng-move .line-4 {
  -webkit-transform: translate(50px, 0px);
  -moz-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  -o-transform: translate(50px, 0px);
}
#page-blvd.ng-enter .line {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
#page-blvd .line {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#page-blvd .line-1 {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
#page-blvd .line-2 {
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}
#page-blvd .line-3 {
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
#page-blvd .line-4 {
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms;
}
.ContactCtrl {
  background-color: #1c1c1c;
}
#page-contact {
  color: #bfbfbf;
  padding-top: 50px;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  #page-contact {
    padding-top: 20px;
  }
}
#page-contact a {
  color: #bfbfbf;
}
#page-contact p {
  margin-bottom: 25px;
}
#page-contact .section-title {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  color: #ca0813;
  margin-top: 25px;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 35px;
  border-bottom: solid #ca0813 2px;
}
#page-contact .map {
  width: 100%;
  height: 230px;
  margin-top: 25px;
}
#page-contact .strong {
  font-family: 'PilcrowSoft-Bold', sans-serif;
}
#page-contact .address-title {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin: 20px 0px 0px 0px;
  display: inline-block;
}
#page-contact .sales-title {
  font-family: 'PilcrowSoft-Bold', sans-serif;
  font-size: 18px;
  margin: 20px 0px 10px 0px;
  color: #bfbfbf;
}
#ipad-portrait {
  /*position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -240px;
	text-align: center;
	width: 480px;
	height: 80px;
	color: #fff;
	display: none;
	font-family: @font;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 35px;
	text-transform: uppercase*/
  display: none;
}
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#main , #header , #footer , #home-intro {
		display: block
	}

	#ipad-portrait {
		display: none
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	#main , #header , #footer , #home-intro {
		display: none
	}

	#ipad-portrait {
		display: block;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
	#main , #header , #footer , #home-intro {
		display: block
	}

	#ipad-portrait {
		display: none
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	#main , #header , #footer , #home-intro {
		display: none
	}

	#ipad-portrait {
		display: block
	}
}
*/
