<div class="categories view">
<h2><?php echo __('Category'); ?></h2>
	<dl>
		<!-- <dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($category['Category']['id']); ?>
			&nbsp;
		</dd> -->
		<dt><?php echo __('Name'); ?></dt>
		<dd>
			<?php echo h($category['Category']['name_eng']); ?>
			&nbsp;
		</dd>
		<!-- <dt><?php echo __('Name Fre'); ?></dt>
		<dd>
			<?php echo h($category['Category']['name_fre']); ?>
			&nbsp;
		</dd> -->
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($category['Category']['modified']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($category['Category']['created']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
