/**
 * @license
 * MyFonts Webfont Build ID 2858652, 2014-08-06T16:05:46-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Pilcrow Soft Bold by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/bold/
 * 
 * Webfont: Pilcrow Soft SemiBold by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/semibold/
 * 
 * Webfont: Pilcrow Soft Medium by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/medium/
 * 
 * Webfont: Pilcrow Soft by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/regular/
 * 
 * Webfont: Pilcrow Soft Heavy by Indian Type Foundry
 * URL: http://www.myfonts.com/fonts/indian-type-foundry/pilcrow-soft/heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2858652
 * Licensed pageviews: 10,000
 * ../fonts copyright: Copyright (c) 2013 by Indian Type Foundry. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b9e9c");

  
@font-face {font-family: 'PilcrowSoft-Bold';src: url('../fonts/2B9E9C_0_0.eot');src: url('../fonts/2B9E9C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_0_0.woff') format('woff'),url('../fonts/2B9E9C_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Semibold';src: url('../fonts/2B9E9C_1_0.eot');src: url('../fonts/2B9E9C_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_1_0.woff') format('woff'),url('../fonts/2B9E9C_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Medium';src: url('../fonts/2B9E9C_2_0.eot');src: url('../fonts/2B9E9C_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_2_0.woff') format('woff'),url('../fonts/2B9E9C_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft';src: url('../fonts/2B9E9C_3_0.eot');src: url('../fonts/2B9E9C_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_3_0.woff') format('woff'),url('../fonts/2B9E9C_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PilcrowSoft-Heavy';src: url('../fonts/2B9E9C_4_0.eot');src: url('../fonts/2B9E9C_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B9E9C_4_0.woff') format('woff'),url('../fonts/2B9E9C_4_0.ttf') format('truetype');}
 