
/* #Additional grid (created by Jean-Maxime Couillard)
================================================== */


@media only screen and (min-width: 1200px) {
	
	@skeletonWidth: 1200px;
	@skeletonCol: @skeletonWidth / 16;
	@skeletonGap: 35px;
    	
    .container                                  { position: relative; width: @skeletonWidth; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: @skeletonGap / 2; margin-right: @skeletonGap / 2; }
    .row                                        { margin-bottom: @skeletonGap; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: @skeletonCol - @skeletonGap;  }
    .container .two.columns                     { width: @skeletonCol * 2 - @skeletonGap; }
    .container .three.columns                   { width: @skeletonCol * 3 - @skeletonGap; }
    .container .four.columns                    { width: @skeletonCol * 4 - @skeletonGap; }
    .container .five.columns                    { width: @skeletonCol * 5 - @skeletonGap; }
    .container .six.columns                     { width: @skeletonCol * 6 - @skeletonGap; }
    .container .seven.columns                   { width: @skeletonCol * 7 - @skeletonGap; }
    .container .eight.columns                   { width: @skeletonCol * 8 - @skeletonGap; }
    .container .nine.columns                    { width: @skeletonCol * 9 - @skeletonGap; }
    .container .ten.columns                     { width: @skeletonCol * 10 - @skeletonGap; }
    .container .eleven.columns                  { width: @skeletonCol * 11 - @skeletonGap; }
    .container .twelve.columns                  { width: @skeletonCol * 12 - @skeletonGap; }
    .container .thirteen.columns                { width: @skeletonCol * 13 - @skeletonGap; }
    .container .fourteen.columns                { width: @skeletonCol * 14 - @skeletonGap; }
    .container .fifteen.columns                 { width: @skeletonCol * 15 - @skeletonGap; }
    .container .sixteen.columns                 { width: @skeletonCol * 16 - @skeletonGap; }

    .container .one-third.column                { width: @skeletonWidth/3 - @skeletonGap }
    .container .two-thirds.column               { width: (@skeletonWidth/3)*2 - @skeletonGap }

    /* Offsets */
    .container .offset-by-one                   { padding-left: @skeletonCol; }
    .container .offset-by-two                   { padding-left: @skeletonCol * 2; }
    .container .offset-by-three                 { padding-left: @skeletonCol * 3; }
    .container .offset-by-four                  { padding-left: @skeletonCol * 4; }
    .container .offset-by-five                  { padding-left: @skeletonCol * 5; }
    .container .offset-by-six                   { padding-left: @skeletonCol * 6; }
    .container .offset-by-seven                 { padding-left: @skeletonCol * 7; }
    .container .offset-by-eight                 { padding-left: @skeletonCol * 8; }
    .container .offset-by-nine                  { padding-left: @skeletonCol * 9; }
    .container .offset-by-ten                   { padding-left: @skeletonCol * 10; }
    .container .offset-by-eleven                { padding-left: @skeletonCol * 11; }
    .container .offset-by-twelve                { padding-left: @skeletonCol * 12; }
    .container .offset-by-thirteen              { padding-left: @skeletonCol * 13; }
    .container .offset-by-fourteen              { padding-left: @skeletonCol * 14; }
    .container .offset-by-fifteen               { padding-left: @skeletonCol * 15; }

}