@red: #ca0813;
@gray: #2C2C2C;
@homepageGray: #1C1C1C;

@font: 'PilcrowSoft', sans-serif; 
@fontBold: 'PilcrowSoft-Bold', sans-serif; 
@fontSemiBold: 'PilcrowSoft-Semibold', sans-serif; 
@fontMedium: 'PilcrowSoft-Medium', sans-serif; 


@redLine: 6px solid @red;

@headerHeight: 103px;