<div id="page-contact" class="container ng-enter">
    <div class="row">
        <div class="columns eight">
            
            <!-- <div class="content">
                <p>
                    <span class="strong" translate>United-States</span> <br /> Danny Rosenbloom <br /> Executive Producer <br />
                    <span class="cell">Cell : </span><a href="tel:19177334293">1-917-733-4293</a>
                    <br />
                    <a href="dr@blvd-nyc.com">dr@blvd-nyc.com</a>
                </p>
            </div>
            
            <div class="section-title">
                <span ng-if="lang == '_eng'">Get A Job</span>
                <span ng-if="lang == '_fre'">Carrière</span>
            </div>
            <div class="content">
                <p>
                    <strong>NEW-YORK CITY</strong> <br />
                    <a href="mailto:jobs@blvd-nyc.com">jobs@blvd-nyc.com</a>
                </p>
            </div> -->
            
            <!--div class="content" ng-bind-html="trustedHTML(api.items.contact['content_text' + lang])"></div-->
            <div class="section-title"><span ng-if="lang == '_eng'">Contact Us</span></div>
            <span class="address-title">Interstate</span> <br /> Danny Rosenbloom <br /><a href="tel:12126039665">Tel : +1 212 603 9665</a><br /> <a href="mailto:dr@blvd-interstate.com">dr@blvd-interstate.com</a>


            <div class="section-title"><span>East Coast</span></div>
            <span class="address-title">ROXANNE AND CO.</span> <br />
            
            <span class="cell">Tel : </span><a href="tel:12126799797">+1 212 679 9797</a>
            <br />
            
            Roxanne Artesona <br />
            <span class="cell">(c) : </span><a href="tel:19175848235">+1 917 584 8235</a><br />
            <a href="mailto:rox@roxanneandco.com">rox@roxanneandco.com</a><br />
            
            Jeff Bowman <br /
            <span class="cell">(c) : </span><a href="tel:19148061131">+1 914 806 1131</a><br />
            <a href="mailto:jeff@roxanneandco.com">jeff@roxanneandco.com</a>
            
            <div class="section-title"><span>West Coast</span></div>
            <br />
            Danny Rosenbloom <br /><a href="tel:12126039665">Tel : +1 212 603 9665</a><br /> <a href="mailto:dr@blvd-interstate.com">dr@blvd-interstate.com</a>
            
            <div class="section-title"><span>Join Interstate</span></div>
            <br />
            <a href="mailto:info@blvd-intersate.com">info@blvd-intersate.com</a>
                
                
            
        </div>
        
        <div class="columns eight">            
            <div class="section-title" translate>INTERSTATE</div>
            <div class="map" mapify mapify-lat="40.7182781" mapify-lng="-74.0031378"></div>
            
               
                    <span class="address-title">INTERSTATE</span> <br /> 401 Broadway, Suite 1711 <br /> New York, NY <br /> 10013 USA  <br />
                    <a href="mailto:info@blvd-interstate.com ">info@blvd-interstate.com</a><br />
               
            
        </div>
        
    </div>
    
</div>