<div id="directors" class="ng-scope">
	<div class="container">
		<div class="row" ng-repeat="rows in api.items | pmkr.partition:2">
			<div class="office columns sixteen" ng-repeat="office in rows">
				<!--span class="office-name">{{office.Office["name" + lang]}}</span-->
				<ul>
					<li class="artist" ng-click="onDirectorClick(artist.slug)" ng-repeat="artist in office.Artist">{{artist.name}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="director" class=" slide" ng-show="api.artist && !artistHide">
	<div class="container">
		<div class="row">
			<div class="columns sixteen center">
				<div class="arrow" ng-click="onCloseClick()"></div>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve offset-by-two">
				<div class="director-name ng-cloak" ng-cloak>{{api.artist.Artist.name}}</div>
			</div>
		</div>
		<div class="row">
			<div class="columns sixteen">
              <div class="director-description ng-cloak" ng-cloak ng-bind-html="trustedHTML(api.artist.Artist['description' + lang])"></div>
            </div>
        </div>
        <div class="row">
			<div id="projects">
				<ul id="projects" class="list">
					<li ng-if="project.slug!='director-s-work'" class="list-item columns four list-item-animation ng-enter" ng-repeat="project in api.artist.Project">
						<div class="project video-hover" data-mp4="{{project.mp4_url}}" data-ogv="{{project.ogv_url}}">
							<a href="{{basepath}}projects/{{project.slug}}">
								<img class="project-image" ng-src="{{project.thumbnail_url}}" />
								<div class="staff-pick" ng-if="project.vimeo_staff_pick">
									<img ng-src="{{basepath}}images/vimeo.png" />
								</div>
								<div class="contrast">&nbsp;</div>
								<div class="info">
									<div class="wrapper">
										<div class="linetop">
											<div class="line"></div>
										</div>
										<div class="titlemask">
                                            <div class="title">{{project["name" + lang]}}</div>
                                        </div>
                                        <div class="clientmask">
                                            <div class="project-client-content">
                                                <span class="project-client">{{project.Client.name}}</span><!--span class="project-agency" ng-if="project.Agency.name != null"> / {{project.Agency.name}}</span-->
                                            </div>
                                        </div>
										<!--div class="tags">
											<span ng-class="{'last' : $last }" ng-repeat="category in project.Category">{{category["name" + lang]}}</span>
										</div-->
										<div class="linebottom">
											<div class="line"></div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
