<div class="container">
	<div class="row ">
		<ul id="projects" class="list" infinite-scroll="api.nextPage()" infinite-scroll-distance="0">
			<li class="list-item list-item-animation ng-enter" discreteclass="{{($index % 5) < 2 ? 'eight columns' : 'one-third column'}}" ng-repeat="item in api.items">
				<div ng-if="isProject(item)" class="project video-hover" data-mp4="{{item.Project.mp4_url}}" data-ogv="{{item.Project.ogv_url}}">
					<a ng-href="{{basepath}}projects/{{item.Project.slug}}">
						<img class="project-image" ng-src="{{item.Project.thumbnail_url}}" />
						<div class="staff-pick" ng-if="item.Project.vimeo_staff_pick">
							<img ng-src="{{basepath}}images/vimeo.png" />
						</div>
						<div class="contrast">&nbsp;</div>
						<div class="info">
							<div class="wrapper">
								<div class="linetop">
									<div class="line"></div>
								</div>
								<div class="titlemask">
                                    <div class="title">{{item.Project["name" + lang]}}</div>
                                </div>
								<!--div class="tags">
									<span ng-class="{'last' : $last }" ng-repeat="category in item.Category">{{category["name" + lang]}}</span>
								</div-->
								<div class="linebottom">
									<div class="line"></div>
								</div>
								<div class="clientmask">
									<div class="project-client-content">
										<span class="project-client">{{item.Client.name}}</span> <span class="project-agency" ng-if="item.Agency.name != null"> / {{item.Agency.name}}</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div ng-if="isNews(item)" class="news">
					<a ng-click="onNewsClick(item)">
						<img ng-src="{{item.News.thumbnail_url}}" />
						<div class="contrast">&nbsp;</div>
						<div class="over">&nbsp;</div>
						<div class="info">
							<div class="wrapper">
								<div class="titlemask">
									<div class="title">{{item.News["name" + lang]}}</div>
								</div>
								<div class="linetop">
									<div class="line"></div>
								</div>
								<div class="date">{{formatDate(item.News.date)}}</div>
								<div class="linebottom">
									<div class="line"></div>
								</div>
								<div class="clientmask">
									<div class="project-client-content">News</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="row center" ng-if='api.busy'>
		<div class="spin2">
			<div class="vertical">
				<div class="line line1"></div>
				<div class="line line2"></div>
			</div>
			<div class="horizontal">
				<div class="line line1"></div>
				<div class="line line2"></div>
			</div>
		</div>
	</div>
	<div class="overlay-news news-animation ng-enter" ng-if='news'>
		<div class="overlay"></div>
		<div class="content container">
			<div class="col-left">
				<div class="date">15 septembre</div>
				<div class="category">News</div>
			</div>
			<div class="col-center">
				<div class="title">{{news.News["name" + lang]}}</div>
				<div class="description" ng-bind-html="trustedHTML(news.News['description' + lang])"></div>
			</div>
			<div class="col-right">
				<a ng-click="onNewsClose()" class="close">close</a>
			</div>
		</div>
	</div>
</div>