<div id="page-blvd" class="container ng-enter" ng-if="api.items">
	<div class="row">
		
			<div class="content" ng-bind-html="trustedHTML(api.items.blvd['content_text' + lang])"></div>
		
	</div>
</div>