<div id="project" class="project-animation ng-enter" ng-if="api.items">
	<div class="top-image">
		<div ng-hide='api.items.Project["vimeo_link" + lang] == ""' class="vimeoplay" ng-click='onVimeoPlay(api.items.Project["vimeo_link" + lang])'>
			<img class="ng-cloak" ng-cloak ng-src="{{basepath + 'images/play.png'}}" />
		</div>
		<div class="projectclose" ng-click="onClose()">
			<img class="ng-cloak" ng-cloak ng-src="{{basepath + 'images/close.png'}}" />
		</div>
		<img ng-src="{{api.items.Project.background_url}}" />
		<div class="vimeo vimeo-animation ng-enter ng-cloak" ng-cloak ng-if='vimeoId'>
			<div class="vimeoclose" ng-click="onClose()">
				<img class="ng-cloak" ng-cloak ng-src="{{basepath + 'images/close.png'}}" />
			</div>
			<iframe ng-src="{{currentProjectUrl}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="container">
		<div class="row project-info" ng-class="{'vimeoPlaying': vimeoId}">
			<div class="columns sixteen">
				<div class="linetop">
					<div class="line"></div>
				</div>
				<div class="titlemask">
                    <h1 class="project-title">{{api.items.Project["name" + lang]}}</h1>
                </div>
				<!--div class="project-type">
					<span ng-class="{'last' : $last }" ng-repeat="category in api.items.Category">{{category["name" + lang]}}</span>
				</div-->
				<div class="linebottom">
					<div class="line"></div>
				</div>
				<!--div class="clientmask">
					<div class="project-client-content">
						<span class="project-client">{{api.items.Client.name}}</span> <span class="project-agency" ng-if="api.items.Agency.name != null"> / {{api.items.Agency.name}}</span>
					</div>
				</div-->
			</div>
		</div>
		<div class="row">
			<div id="shareIcons" class="columns one">
                <a class="icon fb" title="Share on Facebook" ng-click='fbShare(api.items.Project.slug);'>Facebook</a>
                <a class="icon twitter" title="Share on twitter" ng-click='tShare(api.items.Project.slug);'>Twitter</a>
                <a class="icon googleplus" title="Share on Google+" ng-click='gShare(api.items.Project.slug);'>Google+</a>
            </div>
			
			<div class="columns fifteen">
				<div class="quote" ng-if="api.items.Project['headline' + lang]">“&nbsp;{{api.items.Project["headline" + lang]}}&nbsp;”</div>
				<div class="description" ng-if="api.items.Project['description' + lang]" ng-bind-html="trustedHTML(api.items.Project['description' + lang])"></div>
				
				<div class="artists" ng-bind-html="trustedHTML(api.items.Project.credits_eng)"></div>
				<div class="tags-date">
					<span class="title" ng-if="api.items.Category" translate>Tags&nbsp;:</span>
					<div class="tags-list" ng-if="api.items.Category">
						<span class="tag" ng-class="{'last' : $last }" ng-repeat="category in api.items.Category">{{category["name" + lang]}}</span>
					</div>
					<div class="date">{{formatDate(api.items.Project.date)}}</div>
				</div>
				<!-- <div class="awards" ng-if="api.items.Project['awards' + lang]">
					<span class="title" translate>Awards&nbsp;:</span>
					<div class="awards-list" ng-bind-html="trustedHTML(api.items.Project['awards' + lang])"></div>
				</div> -->
			</div>
			<!--div class="columns seven">
				<div class="director" ng-if="api.items.Artist.lentgh > 0">
					<span class="label block" translate>Director&nbsp;:</span>
					<a class="block" ng-repeat="artist in api.items.Artist" href="/#!/directors/{{artist.slug}}">{{artist.name}}</a>
				</div>
				
			</div-->
			
		</div>
		<div class="row images">
			<div ng-repeat="img in api.items.ProjectImage" class="columns" ng-class="{'sixteen' : img.size == 'wide', 'eight' : img.size == 'square' }">
				<img ng-if="img.size == 'wide'" ng-src="{{img.image_wide}}" /> <img ng-if="img.size == 'square'" ng-src="{{img.image_square_large}}" />
			</div>
		</div>
	</div>
</div>