

<div id="slideshow" class="flexslider">
    <ul class="slides">
        <li ng-repeat="project in api.allProjects" slideshow>
            <!--a ng-href="{{basepath}}projects/{{project.Project.slug}}"-->
            <a ng-href="{{project.Project.slug==='commercial-reel' ? basepath+'directors/yann-mabille' : basepath+'projects/'+project.Project.slug}}">
                <img ng-src="{{project.Project.background_url}}"  />
                <div class="project-info-slideshow">
                    <div class="slider-titles"><span class="client-slideshow">{{project.Client.name}}</span><span class="projectname-slideshow">&nbsp;|&nbsp;{{project.Project.name_eng}}</span></div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div id="projects-filters">
    <div class="container">
        <div class="row filter-toggle-row">
            <div id="filter-toggle" class="columns sixteen toggled" ng-click="onFiltersShowToggle()" ng-class="{'toggled' : !showFilters}" infinite-scroll="api.nextPage()" infinite-scroll-distance="0">
                <span translate>Filter Projects</span> <img ng-src="{{basepath}}images/sm-arrow.png" />
            </div>
        </div>
        
        <div class="row slide" id="filters" ng-show="showFilters">
            <div class="filter-group columns twelve">
                <span class="type-title" translate>By category</span>
                <ul class="filters-list">
                    <li class="filter" ng-repeat="item in api.categories" ng-click="onFilterToogle('categories', item.Category.id)" ng-class="{'active': filterActive('categories', item.Category.id)}">
                        <span>{{item.Category["name" + lang]}}</span>
                    </li>
                </ul>
            </div>
            <div class="filter-group columns four">
                <span class="type-title" translate>By directors</span>
                <ul class="filters-list">
                    <li class="filter" ng-repeat="item in api.artists" ng-click="onFilterToogle('artists', item.Artist.id)" ng-class="{'active': filterActive('artists', item.Artist.id)}">
                        <span>{{item.Artist.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		<ul id="projects" class="list">
			<li class="list-item columns four list-item-animation" ng-repeat="project in api.items">
				<div class="project video-hover" data-mp4="{{project.Project.mp4_url}}" data-ogv="{{project.Project.ogv_url}}">
					<a ng-href="{{project.Project.slug==='commercial-reel' ? basepath+'directors/yann-mabille' : basepath+'projects/'+project.Project.slug}}">
					<!--a ng-href="{{basepath}}projects/{{project.Project.slug}}"-->
						<img class="project-image" ng-src="{{project.Project.thumbnail_url}}" />
						<div class="staff-pick" ng-if="project.Project.vimeo_staff_pick">
							<img ng-src="{{basepath}}images/vimeo.png" />
						</div>
						<div class="staff-pick" ng-if="project.Project.the_mill">
                            <img ng-src="{{basepath}}images/themill.png" />
                        </div>
						<div class="contrast">&nbsp;</div>
						<div class="info">
							<div class="wrapper">
								<div class="linetop">
									<div class="line"></div>
								</div>
								<div class="titlemask">
                                    <div class="title">{{project.Project["name" + lang]}}</div>
                                </div>
                                <div class="clientmask">
                                    <div class="project-client-content">
                                        <span class="project-client">{{project.Client.name}}</span><!--span class="project-agency" ng-if="project.Agency.name != null">  / {{project.Agency.name}}</span-->
                                    </div>
                                </div>
								<!--div class="tags">
									<span ng-class="{'last' : $last }" ng-repeat="category in project.Category">{{category["name" + lang]}}</span>
								</div-->
								<div class="linebottom">
									<div class="line"></div>
								</div>
								
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="row center spin-animation ng-enter" ng-if='api.busy'>
		<div class="spin2">
			<div class="vertical">
				<div class="line line1"></div>
				<div class="line line2"></div>
			</div>
			<div class="horizontal">
				<div class="line line1"></div>
				<div class="line line2"></div>
			</div>
		</div>
	</div>
</div>