@import '../variables.less';
@import '../mixins.less';
html {
	height: 100%;
}

body {
	font-family: @font;
	color: #FFF;
	background-color: @homepageGray;
	-webkit-font-smoothing: antialiased;
	position: relative;
	min-height: 100%;
	.transition (background-color 500ms linear);
}

a {
	color: @red;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.element-invisible {
	margin: 0;
	padding: 0;
	width: 1px;
}

.block {
	display: block;
}

.label {
	color: @red;
	font-family: @fontBold;
}

#main {
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
	padding-top:100px;
	padding-bottom: 123px;
	position: relative;
	min-height: 100%;
	.view {
		top: 0px;
	}
}

@keyframes scaleUp {
	from 	{
		opacity: 0.3;
		-webkit-transform: scale(0.8);
	}
}

@keyframes slideOutLeft {
	to 		{
		transform: translateX(-100%);
	}
}

.center {
	text-align: center;
}

.view {
	&.ng-enter , &.ng-leave {
		.transition (all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	}

	&.ng-enter {
		position: absolute;
		opacity: 0;
		-webkit-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}

	&.ng-enter.ng-enter-active {
		position: relative;
		opacity: 1;
	}

	&.ng-leave {
		opacity: 1;
	}

	&.ng-leave.ng-leave-active {
		opacity: 0;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.85;
	z-index: 2;
}

img {
	pointer-events: none;
	.unselectable ();
}

