@import '../variables.less';
@import '../mixins.less';

#page-blvd {
	padding-top: 100px;
	
	@media only screen and (max-width:768px) {
	  padding-top: 50px;
  }
	
	.big {
		font-family: @fontBold;
		color: @red;
		font-size: 70px;
		text-transform: uppercase;
		line-height: 55px;
		@media only screen and (min-width: 1200px) {
			font-size: 88px;
			line-height: 70px;
		}

		.line {
			display: block;


		}
	}

	.sm {
		font-family: @fontBold;
		color: @red;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.content {
		line-height: 25px;
		text-align:justify;
	}

	&.ng-enter , &.ng-move {
		.ng-base-animation ();
		.ng-base-stagger (400ms);
		.line {
			.translate (0px , -50px);
			opacity: 0;
		}
		.line-4 {
			.translate (50px , 0px);
		}
	}

	&.ng-enter {
		.line {
			.transition (none);
		}
	}

	& {
		.line {
			.translate (0px , 0px);
			.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
		}
		.line-1 {
			.transition-delay (500ms);
		}
		.line-2 {
			.transition-delay (600ms);
		}
		.line-3 {
			.transition-delay (700ms);
		}
		.line-4	 {
			.transition-delay (800ms);
		}
	}

}

