@import '../variables.less';
@import '../mixins.less';
.ContactCtrl {
	background-color: @homepageGray;
}

#page-contact {
  color: #bfbfbf;
  
	padding-top: 50px;
	
	@media only screen and (max-width:768px) {
    padding-top: 20px;
  }
	
	line-height: 24px;
	
	a{
	  color:#bfbfbf;
	}
	
	p {
		margin-bottom: 25px;
	}

	.section-title {
		font-family: @fontBold;
		color: @red;
		margin-top:25px;
		font-size: 26px;
		text-transform: uppercase;
		line-height: 35px;
  	border-bottom: solid @red 2px;
	}

	.map {
		width: 100%;
		height: 230px;
		margin-top: 25px;
	}

	.strong {
		font-family: @fontBold;
	}

	.address-title {
		font-family: @fontBold;
		text-transform:uppercase;
		font-size: 22px;
		margin: 20px 0px 0px 0px;
		display: inline-block;
	}
	
	.sales-title {
    font-family: @fontBold;
    font-size: 18px;
    margin: 20px 0px 10px 0px;
    color: #bfbfbf;
    
  }
}

