@import '../variables.less';
@import '../mixins.less';
#directors {
  
	padding-top: 150px;
	padding-bottom: 0px;
	
	ul , ul li {
		padding: 0;
		margin: 0;
	}

	.office {
		text-align: center;
		@media only screen and (max-width: 767px) {
			margin-bottom: 40px;
		}
	}

	.office-name {
		font-family: @fontBold;
		color: @red;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 60px;
		display: block;
		@media only screen and (max-width: 767px) {
			margin-bottom: 10px;
		}
	}

	.artist {
		display: block;
		font-family: @fontSemiBold;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 10px;
		cursor: pointer;
		&:hover , &.active {
			color: #646464;
		}

		.ng-base-animation ();
		.ng-base-stagger (200ms);
		&.ng-enter , &.ng-leave , &.ng-move {
			.transition (all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
		}
	}
}

#director {
	.arrow {
		display: inline-block;
		width: 51px;
		height: 21px;
		background: transparent url('../images/scrollup.png') no-repeat center center;
		margin: 100px 0px 0px;
		cursor: pointer;
	}

	.director-name {
		display: block;
		font-family: @fontBold;
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
	}

	.director-description {
		font-size: 17px;
		line-height: 25px;
		text-align: justify;
	}
}

#director.director-animation {
	.ng-base-animation ();
	&.ng-enter , &.ng-move {
		.transition (all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	}
}

