@import '../variables.less';
@import '../mixins.less';
#footer {
	background-color: @gray;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 100%;
	cursor: pointer;
	z-index:999;
	height: 50px;
	.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	&:hover {
		cursor: default;
	}

	

	#footer-social {
		text-align: center;
		margin:0 auto;
		
		.icon {
			display: inline-block;
			text-align: left;
			text-indent: -9999px;
			font-size: 0;
			margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 8px;

			&.twitter {
				background: transparent url('../images/social-t.png') no-repeat center center;
				background-size: contain;
				width: 35px;
				height: 20px;
			}

			&.fb {
				background: transparent url('../images/social-fb.png') no-repeat center center;
				background-size: contain;
				width: 18px;
				height: 20px;
			}

			&.googleplus {
				background: transparent url('../images/social-g.png') no-repeat center center;
				background-size: contain;
				width: 33px;
				height: 20px;
			}

			&.vimeo {
				background: transparent url('../images/social-v.png') no-repeat center center;
				background-size: contain;
				width: 30px;
				height: 20px;
			}

			&:hover {
				opacity: 0.5;
			}
		}
	}

	
}

