@import '../variables.less';
@import '../mixins.less';
.home-only {
	opacity: 0;
}

.HomeCtrl {
	background-color: @homepageGray;
	#main {
		background-color: @homepageGray;
	}

	.home-only {
		display: block;
		height: 0px;
		opacity: 1;
	}

	#footer {
		opacity: 0;
		z-index: -1;
		&.front-show {
			opacity: 1;
			z-index: 0;
		}
	}
}

#home-intro {
	.transition (0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) height , 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) opacity);
	overflow: hidden;
	background: #000 none no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	@media only screen and (max-width: 767px) {
		background-attachment: scroll
	}

	#frontvideo {
		background-color: #000;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 0;
		opacity: 0;
		video {
			position: absolute;
		}

		&.jp-ready {
			opacity: 1;
			.transition (0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) opacity);
		}
	}

	/*#animatedlogo {
		display: inline-block;
	}*/

	.wrapper {
		width: 340px;
		top: 45%;
		left: 50%;
		position: relative;
		//margin-top: -257px;
		margin-left: -170px;
		text-align: center;
		.blvd-text {
			margin-top: 35px;
			width: 163px;
			height: 32px;
		}

		.blvd-logo {
			width: 100%;
		}

		.tagline {
			top: 50%;
			left: 50%;
			position: relative;
			width: 450px;
			left: 50%;
			margin-left: -225px;
			text-align: center;
			margin-top: 35px;
		}

		@media only screen and (max-width: 767px) {
			width: 200px;
			//margin-top: -150px;
			margin-left: -100px;
			/*#animatedlogo {
				display: none;
			}*/

			.blvd-logo , .blvd-text {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	.scrolldown {
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -25px;
		padding-bottom:50px;
		cursor: pointer;
		height: 50px;
		.arrow {
			width: 51px;
			height: 21px;
			background: transparent url('../images/scrolldown.png') no-repeat center center;
			-webkit-animation: bounce 0.75s infinite ease-in-out alternate;
			animation: bounce 0.75s infinite ease-in-out alternate;
			.transform-origin (center , center);
		}
	}
}

.overlay-news {
	.content {
		position: fixed;
		top: 200px;
		left: 50%;
		width: 800px;
		height: 200px;
		margin-left: -400px;
		z-index: 2;
		white-space: nowrap;
		.col-right , .col-left , .col-center {
			vertical-align: top;
			display: inline-block;
			white-space: normal;
		}

		.col-right {
			width: 200px;
			text-align: right;
		}

		.col-center {
			width: 400px;
		}

		.col-left {
			width: 200px;
		}

		.date {
			font-family: @fontBold;
		}

		.title {
			font-family: @fontMedium;
			font-size: 40px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.close {
			display: inline-block;
			background: transparent url('../images/close.png') no-repeat center center;
			background-size: cover;
			width: 50px;
			height: 50px;
			cursor: pointer;
			.hidetext ();
		}

		.description {
			line-height: 25px;
		}

		@media only screen and (max-width: 767px) {
			top: 5%;
			left: 5%;
			width: 90%;
			margin-left: 0px;
			.col-right , .col-left , .col-center {
				display: block;
				white-space: normal;
				width: 100%;
			}

			.col-left , .col-center {
				margin-bottom: 30px;
			}

			.col-right {
				text-align: center;
			}
		}
	}

	&.news-animation {
		.ng-base-animation ();
		&.ng-enter , &.ng-leave , &.ng-move {
			.date , .category {
				.translate (-20px , 0px);
				opacity: 0;
			}

			.title , .description {
				.translate (0px , -20px);
				opacity: 0;
			}

			.overlay {
				opacity: 0;
			}
		}

		.date , .category , .title , .description , .overlay {
			.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
			.translate (0px , 0px);
			opacity: 1;
		}

		&.ng-enter {
			.date {
				.transition-delay (400ms);
			}

			.category {
				.transition-delay (450ms);
			}

			.title {
				.transition-delay (200ms);
			}

			.description {
				.transition-delay (300ms);
			}
		}

		&.ng-leave {
			.overlay {
				.transition-delay (500ms);
			}
		}
	}
}

@-webkit-keyframes bounce {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translate(0px, 30px);
		transform: translateY(30px);
	}
}

@keyframes bounce {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
}

