@import '../variables.less';
@import '../mixins.less';
#header {
	position: relative;
	z-index:999;
	.wrapper {
		position: absolute;
		z-index: 1;
		width: 100%;
		background-color: @red;
    height: @headerHeight;
    z-index: 2;
	}
	
	.header__logo-image {
		margin-top:16px;
		width: 145px;
	}

	nav {
		outline: 0;
		li.text-link {
			opacity: 0;
			//.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
			//.translate (-50px , 0px);
			// &.second {
				// .transition-delay (250ms);
			// }
// 
			// &.third {
				// .transition-delay (500ms);
			// }
// 
			// &.last {
				// .transition-delay (750ms);
			// }
		}
	}

	&.f-nav .wrapper {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 2;
		width: 100%;
	}

	nav.menuin {
		li.text-link {
			opacity: 1.0;
			.translate (0px , 0px);
		}
	}

	#main-menu {
		text-align: center;
		ul {
			display: inline-block;
			margin: 11px;
			padding: 0;
			li {
				display: inline-block;
				text-transform: uppercase;
				width: 118px;
				&.text-link {
					vertical-align: top;
					padding: 24px 18px;
					
					@media screen and (min-width: 1200px) {
            padding: 24px 40px;
          }
					
					.btn {
						position: relative;
						height: 34px;
					}

					.linetop , .linebottom {
						width: 0;
						height: 2px;
						background-color: #000;
						position: absolute;
						overflow: hidden;
					}

					.linetop {
						top: 1px;
						.transition (width 0.5s)
					}

					.linebottom {
						bottom: 1px;
						right: 0px;
						.transition (width 0.5s 0.25s)
					}

					&.active {
						.linetop , .linebottom {
							width: 100%;
						}
					}

					&.language {
						@media only screen and (min-width: 768px) {
							display: none;
						}
					}

					@media only screen and (min-width: 768px) {
						&:hover {
							.linetop , .linebottom {
								width: 100%;
							}
						}
					}
				}

				&.logo-link {
					width:145px;
					@media screen and (min-width: 1200px) {
            margin:0 40px;
          }
					
					a {
						margin-top: 0px;
						margin-left:0;
					}
				}

				a , .a {
					display: inline-block;
					font-family: @fontBold;
					color: #000;
					text-decoration: none;
					font-size: 18px;
					margin-top: 8px;
					cursor: pointer;
				}
			}

			@media only screen and (max-width: 959px) {
				li.logo-link {
				  margin-left:20px;
				}
				li.text-link {
					padding: 24px 12px;
				}
			}
		}

    
    
		@media only screen and (max-width: 767px) {
			position: absolute;
			left: 0%;
			top: 103px;
			width: 100%;
			display: block;
			background-color: @red;
			z-index: 100;
			height: 350px;
			overflow: hidden;
			.transition (height 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
			&.nav-collapse {
				height: 0px;
			}
			li.logo-link {
				display: none;
			}

			li.text-link {
				display: block;
			}
		}
	}

	#responsive-content {
		display: none;
		.toggle {
			position: absolute;
			right: 20px;
			top: 15px;
			background: transparent url('../images/hamburger.png') no-repeat 0 0;
			height: 20px;
			width: 20px;
			background-size: contain;
			cursor: pointer;
			text-indent: -9999px;
		}

		.logo {
			position: absolute;
			display: inline-block;
			left: 50%;
			top: 10px;
			width: 51px;
			height: 85px;
			margin-left: -52px;
			
			a{
			  display:block;
			  height:85px;
			}
			
		}
		
		
	}

	@media only screen and (max-width: 767px) {
		& .container {
			width: 100%;
		}

		#responsive-content {
			display: block;
		}
	}

	#language-switcher {
		position: absolute;
		top: 23px;
		right: 0px;
		@media only screen and (max-width: 767px) {
			display: none;
		}

		ul {
			list-style-image: none;
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			li {
				color: #000;
				cursor: pointer;
				font-family: @fontBold;
				list-style-image: none;
				list-style-type: none;
				text-align: center;
				padding-left: 15px;
				padding-right: 15px;
			}

			li.first {
				border-bottom: 2px solid #000;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
		}
	}
}


@media only screen and (max-width: 767px) {
  #header .wrapper{
    height:50px;
  }
  
  #responsive-content{
    .logo{
      top:0px;
    }
    
    .header__logo-image{
      margin:0;
      width:100px;
    }
  }
  
  #header #main-menu{
    top:50px;
  }
}
