@import '../variables.less';
@import '../mixins.less';
#ipad-portrait {
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -240px;
	text-align: center;
	width: 480px;
	height: 80px;
	color: #fff;
	display: none;
	font-family: @font;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 35px;
	text-transform: uppercase*/
	display:none;
}

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#main , #header , #footer , #home-intro {
		display: block
	}

	#ipad-portrait {
		display: none
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	#main , #header , #footer , #home-intro {
		display: none
	}

	#ipad-portrait {
		display: block;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
	#main , #header , #footer , #home-intro {
		display: block
	}

	#ipad-portrait {
		display: none
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	#main , #header , #footer , #home-intro {
		display: none
	}

	#ipad-portrait {
		display: block
	}
}
*/
