@import '../variables.less';
@import '../mixins.less';
.list {
	display: inline-block;
	margin: 0px;
	padding: 0;
	padding-top: 10px;
}

.list-item {
	position: relative;
	overflow: hidden;
	margin-bottom: 32px;
	cursor: pointer;
	.project {
		line-height: 0px;
	}

	a {
		color: #FFF;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: inline-block;
	}

	img.project-image {
		width: 100%;
		position: relative;
		left: 0px;
		top: 0px;
	}

	.contrast {
		//background: transparent url('../images/contraste2.png');
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 27%;
		@media only screen and (max-width: 767px) {
		  height: 19%;
		}
	}

	.over {
		background: transparent url('../images/rollover.png') repeat 0 0;
		position: absolute;
		top: -100%;
		right: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		.transition (top 0.2s ease-in-out , opacity 0.2s linear);
	}

	&:hover {
		.over {
			top: 0%;
			opacity: 1;
		}
	}

	.staff-pick {
		position: absolute;
		top: 20px;
		left: 20px;
		img {
			width: 80px;
			height: 80px;
		}
	}

	.info {
		background: transparent url('../images/contraste2.png');
		width: 100%;
		position: absolute;
		bottom: 0%;
		padding-top:3%;
		padding-bottom:3%;
		
		line-height: normal;
		.wrapper {
			margin-right: 4%;
			margin-left: 4%;
			.titlemask {
				overflow: hidden;
			}

			.clientmask {
				overflow: hidden;
			}

			.title {
				display: block;
				font-size: 20px;
				font-family: @fontBold;
				color: #FFF;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				margin-top:0.2em;
			}

			.linetop , .linebottom {
				line-height: 0;
				.line {
					display: inline-block;
					background-color: @red;
					width: 65%;
					height: 2px;
				}
			}

			.linetop {
				text-align: center;
			}

			.linebottom {
				text-align: center;
			}

			.tags , .date {
				text-align: center;
				padding: 12px;
				text-transform: uppercase;
				span {
					margin: 0px 5px;
					display: inline-block;
					&::after {
						content: "/";
						margin-left: 5px;
					}

					&.last::after {
						content: none;
					}
				}
			}

			.project-client-content {
				text-align: center;
				margin-top: 0px;
				font-size:0.8em;
			}
		}
		
		
	}

	.video-hover {
		&.hover.jp-ready .jp {
			opacity: 1;
		}

		.jp {
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0;
			.transition (opacity 0.25s);
		}
	}

	&.one-third {
		.info {
			/*bottom: 15px;*/
		}
	}
}



.list-item.columns , .list-item.column {
	@media only screen and (max-width: 767px) {
		margin-bottom: 20px;
	}
}

.list-item-animation {
	.ng-base-animation ();
	.ng-base-stagger (400ms);
	&.ng-enter , &.ng-move {
		opacity: 0;
		.wrapper {
			.title {
				.translate (0px , 50px);
				opacity: 0;
			}

			.tags , .date {
				.translate (-25px , 0px);
				opacity: 0;
			}

			.project-client-content {
				.translate (0px , -50px);
				opacity: 0;
			}

			.linetop , .linebottom {
				.line {
					width: 0%;
				}
			}
		}
	}

	&.ng-enter {
		.title , .line , .tags , .project-client-content , .date {
			.transition (none);
		}
	}

	.title , .line , .tags , .project-client-content , .date {
		.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	}

	.title {
		.transition-delay (500ms);
		.translate (0px , 0px);
	}

	.linetop .line {
		.transition-delay (250ms);
	}

	.linebottom .line {
		.transition-delay (600ms);
	}

	.tags , .date {
		.transition-delay (750ms);
	}

	.project-client-content {
		.transition-delay (800ms);
	}
}




@media only screen and (min-width:768px) and (max-width:1200px) {
  .info{
      .title{
        font-size:95% !important;
        
      }
    
     .clientmask{
      display:none;
      }
  }
}

@media only screen and (max-width:478px) {
  .info .clientmask{
    display:none;
  }
}
