@import '../variables.less';
@import '../mixins.less';
@spacing: 45px;
#project {
	.top-image {
		position: relative;
		width: 100%;
		line-height: 0px;
		img {
			width: 100%;
		}

		.vimeo {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			z-index: 9998;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
				z-index: 2;
			}

			.vimeoclose {
				top: 0;
				z-index: 99999;
			}
		}

		.vimeoplay {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 175px;
			height: 92px;
			margin-left: -87px;
			margin-top: -46px;
			cursor: pointer;
			img {
				.transition (all 0.15s ease-in-out);
			}

			&:hover img {
				.scale (0.95);
			}
		}

		.projectclose , .vimeoclose {
			position: fixed;
			top: 103px;
			right: 0px;
			width: 50px;
			height: 50px;
			cursor: pointer;
			padding: 20px;
			background: transparent url('../images/black75.png') repeat 0 0;
		}
	}

	.project-info {
		.transition (margin-top 0.5s ease-in-out);
		margin-top: 30px;
		
		/*@media only screen and (max-width: 767px) {
			margin-top: -15px;
		}*/

		&.vimeoPlaying {
		}

		.titlemask , .clientmask {
			overflow: hidden;
		}
		
		.titlemask{
		  margin:5px 0 7px 0;
		}

		.project-title {
			display: block;
			font-size: 30px;
			font-family: @fontBold;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1.5px;
			text-align: center;
			margin: 0.2em 0 0 0;
			padding: 0;
			@media only screen and (max-width: 767px) {
				font-size: 20px;
			}
		}

		.linetop , .linebottom {
			line-height: 0;
			.line {
				display: inline-block;
				background-color: @red;
				width: 100%;
				height: 2px;
			}
		}

		.linetop {
			text-align: right;
		}

		.linebottom {
			text-align: left;
		}

		.project-type {
			display: block;
			text-align: center;
			padding: 12px 0px;
			text-transform: uppercase;
			span {
				margin: 0px 5px;
				&::after {
					content: "/";
					margin-left: 5px;
				}

				&.last::after {
					content: none;
				}
			}
		}

		.project-client-content {
			display: block;
			text-align: center;
			padding: 12px 0px;
			text-transform: uppercase;
		}
	}

	.quote {
		font-size: 30px;
		margin-bottom: @spacing;
	}

	.description {
		font-size: 17px;
		line-height: 27px;
		margin-bottom: @spacing;
		color: #bfbfbf;
	}

	.director {
		font-size: 22px;
		margin-bottom: @spacing;
		.label {
			font-size: 17px;
		}

		a {
			color: #FFF;
			text-decoration: none;
		}
	}

	.artists {
		margin-bottom: @spacing;
		line-height: 23px;
	}

	.tags-date , .awards {
		border-top: 1px @red solid;
		vertical-align: top;
		white-space: nowrap;
		.title {
			display: inline-block;
			vertical-align: top;
			font-family: @fontBold;
			color: @red;
			padding: 13px 0px 13px 0px;
			width: 7%;
		}

		.awards-list , .tags-list {
			display: inline-block;
			vertical-align: top;
			padding: 13px 0px;
			.tag , .award {
				display: block;
				margin-bottom: 5px;
				white-space: normal;
			}
		}

		.tags-list {
			width: 45%;
			@media only screen and (max-width: 767px) {
				width: 80%;
			}
		}

		.awards-list {
			width: 80%;
			white-space: normal;
		}

		.date {
			border-left: 1px @red solid;
			vertical-align: top;
			padding: 13px 3%;
			display: inline-block;
			width: 23%;
			@media only screen and (max-width: 767px) {
				display: block;
				border-left: none;
				border-top: 1px @red solid;
				width: auto;
				text-align: center;
			}
		}
	}

  #shareIcons{
    margin-top:-10px;
  }

	.icon {
		display: inline-block;
		text-align: left;
		text-indent: -9999px;
		font-size: 0;
		margin-bottom: 25px;
		cursor: pointer;
		@media only screen and (max-width: 759px) {
			margin-left: 24px;
			margin-right: 24px;
		}

		&.twitter {
			background: transparent url('../images/social-t.png') no-repeat center center;
			background-size: contain;
			width: 35px;
			height: 28px;
		}

		&.fb {
			background: transparent url('../images/social-fb.png') no-repeat center center;
			background-size: contain;
			width: 18px;
			height: 28px;
			margin-left: 5px;
		}

		&.googleplus {
			background: transparent url('../images/social-g.png') no-repeat center center;
			background-size: contain;
			width: 33px;
			height: 28px;
		}
	}

	.images {
		.columns {
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
	}

	.vimeo-animation {
		.ng-base-animation ();
		&.ng-enter , &.ng-move {
			.translate (0px , -50px);
			opacity: 0;
		}

		&.ng-enter-active {
			opacity: 0 ! important;
		}

		opacity: 1;
		.translate (0px , 0px);
		.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	}
}

#project.project-animation {
	.ng-base-animation ();
	&.ng-enter , &.ng-move {
		.project-info {
			.project-title {
				.translate (0px , 50px);
				opacity: 0;
			}

			.linetop , .linebottom {
				.line {
					width: 0%;
				}
			}

			.project-type {
				.translate (-25px , 0px);
				opacity: 0;
			}

			.project-client-content {
				.translate (0px , -50px);
				opacity: 0;
			}
		}
	}

	.project-title , .line , .project-type , .project-client-content {
		.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	}

	.client-content {
		.translate (0px , 0px);
	}

	.project-title {
		.transition-delay (700ms);
		.translate (0px , 0px);
	}

	.linetop .line {
		.transition-delay (500ms);
	}

	.linebottom .line {
		.transition-delay (900ms);
	}

	.project-type {
		.transition-delay (1150ms);
	}

	.project-client-content {
		.transition-delay (1250ms);
	}
}


@media only screen and (max-width:768px) {
  #project{
    margin-top:-50px;
  }
  
  .projectclose{
    top:50px;
  }
}
