@import '../variables.less';
@import '../mixins.less';
#projects {
	ul {
		display: inline;
	}
}

#projects-filters {
	padding-top: 0px;
	padding-bottom: 0px;
	.filter-toggle-row {
		margin-bottom: 0px;
	}

	#filter-toggle {
		font-family: @fontMedium;
		font-size: 16px;
		
		cursor: pointer;
		.unselectable ();
		img {
			width: 11px;
			height: 7px;
			margin-bottom: 2px;
			margin-left: 15px;
			.transition (all 350ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
		}
		
		&.toggled img {
			.rotate(180deg);
		}
	}

	.type-title {
		font-family: @fontBold;
		text-transform: uppercase;
		font-size: 18px;
		display: block;
		margin-bottom: 20px;
		.unselectable ();
	}

	#filters {
	  margin-top:5px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top:2px solid @red;
		border-bottom:2px solid @red;
	}

	.filter-group.column {
		@media only screen and (max-width: 759px) {
			margin-bottom: 20px;
		}
	}

	ul.filters-list {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		display: block;
		li {
			display: inline-block;
			.border-radius (10px);
			border: 1px solid #484848;
			padding: 7px 13px 6px;
			font-size: 14px;
			margin: 0px 5px 5px 0px;
			cursor: pointer;
			.unselectable ();
			&:hover {
				background-color: #484848;
			}

			&.active {
				border: 1px solid @red;
				background-color: @red;
			}

			.transition (all 0.3s ease-in-out);
		}
	}
}


#slideshow{
  margin:3px 0 10px 0;
  width:100%;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #slideshow{
    display:none;
  }
}

