@import '../variables.less';
@import '../mixins.less';
.spin {
	.animation (standard , 1.05s , infinite , ease-in-out);
	.transform-origin (center);
	width: 97px;
	height: 94px;
	background: transparent url('../images/spin.png') no-repeat 0 0;
	display: inline-block;
}

.spin2 {
	display: inline-block;
	width: 97px;
	height: 94px;
	position: relative;
	.horizontal {
		position: absolute;
		width: 100%;
		height: 10px;
		top: 50%;
		margin-top: -5px;
		.line {
			position: absolute;
			height: 2px;
			background-color: @red;
			width: 0%;
			&.line1 {
				top: 0px;
				right: 0px;
				.animation (expand1 , 1.05s , infinite , ease-in-out);
			}

			&.line2 {
				bottom: 0px;
				left: 0px;
				.animation (expand2 , 1.05s , infinite , ease-in-out);
			}
		}
	}

	.vertical {
		position: absolute;
		width: 10px;
		height: 100%;
		left: 50%;
		margin-left: -5px;
		.line {
			position: absolute;
			width: 2px;
			background-color: @red;
			height: 0%;
			&.line1 {
				top: 0px;
				right: 0px;
				.animation (expand3 , 1.05s , infinite , ease-in-out);
			}

			&.line2 {
				bottom: 0px;
				left: 0px;
				.animation (expand4 , 1.05s , infinite , ease-in-out);
			}
		}
	}
}

.spin-animation {
	.ng-base-animation();
}

@-webkit-keyframes expand1 {
	0% {
		width: 0%;
	}

	30% {
		width: 100%;
	}

	50% {
		width: 100%;
	}

	80% {
		width: 0%;
	}

	100% {
		width: 0%;
	}
}

@keyframes expand1 {
	0% {
		width: 0%;
	}

	30% {
		width: 100%;
	}

	50% {
		width: 100%;
	}

	80% {
		width: 0%;
	}


	100% {
		width: 0%;
	}
}

@-webkit-keyframes expand2 {
	0% {
		width: 0%;
	}

	10% {
		width: 0%;
	}

	40% {
		width: 100%;
	}
	
	60% {
		width: 100%;
	}

	90% {
		width: 0%;
	}
}

@keyframes expand2 {
	0% {
		width: 0%;
	}

	10% {
		width: 0%;
	}

	40% {
		width: 100%;
	}
	
	60% {
		width: 100%;
	}

	90% {
		width: 0%;
	}
}

@-webkit-keyframes expand3 {
	0% {
		height: 0%;
	}

	30% {
		height: 100%;
	}

	50% {
		height: 100%;
	}

	80% {
		height: 0%;
	}

	100% {
		height: 0%;
	}
}

@keyframes expand3 {
	0% {
		height: 0%;
	}

	30% {
		height: 100%;
	}

	50% {
		height: 100%;
	}

	80% {
		height: 0%;
	}


	100% {
		height: 0%;
	}
}

@-webkit-keyframes expand4 {
	0% {
		height: 0%;
	}

	10% {
		height: 0%;
	}

	40% {
		height: 100%;
	}
	
	60% {
		height: 100%;
	}

	90% {
		height: 0%;
	}
}

@keyframes expand4 {
	0% {
		height: 0%;
	}

	10% {
		height: 0%;
	}

	40% {
		height: 100%;
	}
	
	60% {
		height: 100%;
	}

	90% {
		height: 0%;
	}
}

@-webkit-keyframes standard {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes standard {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

