*{
	font-family:Verdana,Arial,sans-serif;
	font-size:98%;
}

#flashMessage{
   margin-top:10px;
   background: #373737;
   padding:10px 25px;
   color:#fff;
   font-weight:bold;
   border-right:3px solid #ca0813;
   border-bottom:3px solid #ca0813;
}

.error-message{
   margin:10px 0;
   background: #373737;
   padding:5px 12px;
   color:#fff;
   border-right:1px solid #ca0813;
   border-bottom:1px solid #ca0813;
   font-size:90%;
   width:300px;
}

a{
   color: #ca0813;
}

small.red, .red{
   color: #ca0813;
}
 
#container{
    width:100%;
}

#container-padded{
    margin:0 10px;
}


.pure-menu li a{
    border-bottom:1px solid #ccc;
}

.paging{
    font-size:80%;
    color:#ccc;
    margin-top:25px;
}

.pure-button-primary,a.pure-button-primary{
    background:#ca0813;
}

.pure-table{
	font-size:90%;
	width:100%;
}

.ui-tooltip{
	font-size:70%;
}


.ui-dialog{
	font-size:80%;
}

dt{
	font-size:90%;
	text-transform: lowercase;
	color:#999;
}


ul#sortable .drag{
    padding:10px;
    border:1px dashed #ccc;
    margin:0 5px 5px 0;
    width:100px;
    display:block;
    float:left;
    cursor:move;
}

ul#sortable{
    list-style-type: none;
    margin:0;
    width:100%;
    padding:0;
}

.checkbox input{
	display:block;
	float:left;
	margin-right:10px;
}


.radio{
	margin-bottom:20px;
}

.radio input{
	float:left;
	margin-top:3px;
	margin-right:10px;
}

.radio label{
	display:block;
	clear:right;
}

#footer{
	width:150px;
	text-align:center;
	margin:0 auto;
}

#logoutSection{
	position:absolute;
	top:10px;
	right:20px;
	text-align: right;
}
